<!doctype html>

<html>
	<link href="index.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Syncopate" />
	<meta charset="utf-8">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/bootstrap-theme.css">
	<link rel="stylesheet" href="../css/home.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>

	<header>
  		<button class="hamburger">&#9776;</button>
  		<a href="/add" class="floating_plus_icon">
					<button class="button addButton">Add</button>
				</a>
  		<!--<button class="cross">&#735;</button>-->
	</header>

	<div class="menu">
  		<ul>
  			<a href="/home"><li> My Pantry </li></a>
    		<a href="/history"><li> History </li></a>
    		<a href="/add"><li> Add Item </li></a>
    		<a href="/account"><li>Account Settings</li></a>
  		</ul>
  		
  		<!--LogOut Button-->
  		<br /><br /><br />
	  	<table class="bottom_button_table" align="center">
			<tr>
				<td>
					<a href="/">
						<button class="button logoutButton">LOGOUT</button>
					</a>
				</td>
			</tr>
		</table>


	</div>

	<!-- Title: MyPantry -->
	<div class = "title">
		<h1>My Pantry</h1>
	</div>
	<label class="switch">
  		<input  type="checkbox">
  	<div class="slider round"></div>
	</label>

	<!--Wood: http://www.technocrazed.com/wp-content/uploads/2015/12/Wood-Wallpaper-Background-22.jpg-->
	<ul class="container">
  		<ul class="shelves">
  			{{#each item}}
  				<li herf="/item/{{item_ID}}" class = "food">
  					{{item_name}}
  				</li>
  			{{/each}}
  		</ul>
  		<style>
  		</style>
	</ul>
	<table class="bottom_button_table" align="center">
		<tr>
			<td>
				<a href="/add" class="floating_plus_icon">
					<!--<button id="add_item">Add</button> -->
				</a>
			</td>
			<td>
				<a href="#" class="edit_item">
					<button class="button editButton">Edit</button>
				</a>
			</td>
		</tr>
	</table>



	<!--
	<div class="flex-item">
	<div class="container">
		<div class="title">
				<h1>My Pantry</h1>
		</div>
	</span>
  		<button class="hamburger">&#9776;</button>
  		<button class="cross">&#735;</button>
	</header>
	<div class="menu">
  		<ul>
    		<a href="/home"><li>Home</li></a>
    		<a href="#"><li>Receipt</li></a>
    		<a href="/history"><li>History</li></a>
    		<a href="/account"><li>Account</li></a>
  		</ul>
		</div> 
	
		<div class="pantry_shelf" id="home_shelf">
			<table>
				{{#each item}}
				<div class="item-wrapper">
					<a href="/item/{{item_ID}}" class="click-listener">
						<img src="{{ imgURL }}" class="img-responsive" />
						<p class="text_centered">{{ item_name }}</p>
					</a>
					<hr>
				</div>
				{{/each}}
			</table>
		</div>

		<table class="bottom_button_table" align="center">
			<tr>
				<td>
					<a href="/add" class="floating_plus_icon">
						<button id="add_item">Add</button>
					</a>
				</td>
				<td>
					<a href="#" class="edit_item">
						<button id="edit_item">Edit</button>
					</a>
				</td>
			</tr>
		</table>

		
	</div>
	-->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../js/jquery-1.11.0.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/home.js"></script>
</body>
</html>
