<!doctype html>

<html>
	<link href="../css/index.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Syncopate" />
	<meta charset="utf-8">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/bootstrap-theme.css">
	<link rel="stylesheet" href="../css/home.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    {{#if nav}}
      <!-- the redesign -->
       
      <!-- the event for testing put it in the nav bar -->
      <button class="button likeBtn">Like this page!</button>
    {{else}}
	      <!-- original -->
		<header>
	  		<button class="hamburger" >&#9776;</button>
	  		<button class="button likeBtn">Like this page!</button>
	  		
	  		<a href="/add" class="floating_plus_icon">
				<button class="button addButton">Add</button>

			</a>
		</header>
		{{> menu}}
		

		<!-- Title: MyPantry -->
		<div class = "title">
			<h1>My Pantry</h1>
		</div>
		<label class="switch">
			<h2 id="current_view">Public Pantry</h2> 
			<!-- default checkbox hided, slider round defined in css -->
			<input  id="view_swithcer" type="checkbox" onclick="swith_view()">
			<div class="slider round"></div>

			<script>
				function swith_view() {
					var view = document.getElementById("view_swithcer").checked;
					if(view) {
						document.getElementById("current_view").innerHTML = "Private Pantry";
						$(".private_shelf").show();
						$(".public_shelf").hide();
					}
					else {
						document.getElementById("current_view").innerHTML = "Public Pantry";
						$(".private_shelf").hide();
						$(".public_shelf").show();
					}
				}
			</script>

		</label>

		<!--Wood: http://www.technocrazed.com/wp-content/uploads/2015/12/Wood-Wallpaper-Background-22.jpg-->

		<ul class="container">
	  			<ul class="private_shelf">
		  			{{#each item}}
		  				<li  class = "food">
		  					{{item_name}}
		  					<img src="{{item_imageURL}}" class="food_icon">

		  					<div class="buttonContainer">
		  					<!-- activate pop up window here -->
		  					<button id="myBtn" class="button">More...</button>

		  					<button onclick="removeItem({{item_index}})" class="button rmBtn">Remove Item</button>	
		  					</div>
		  				</li>
		  				
		  				<!-- The pop up window -->
		  				<div id="myModal" class="modal">
		  					<div class="modal-content">
		  						<span class="close">&times;</span>
		  						{{item_name}}
		  						<img src="{{item_imageURL}}" class="food_icon">
		  						<p>{{description}}</p>
		  						<button onclick="removeItem({{item_index}})" class="button rmBtn">Remove Item</button>
		  					</div>
		  				</div>

										
		  			{{/each}}
	  			</ul>


	  			<ul class="public_shelf">
		  			{{#each item}}
		  				{{#if shareable}}

	  				
		  				<li  class = "food">
		  					{{item_name}}
		  					<img src="{{item_imageURL}}" class="food_icon">

		  					<div class="buttonContainer">
		  					<!-- activate pop up window here -->
		  					<button id="myBtn" class="button">More...</button>

		  					<button onclick="removeItem({{item_index}})" class="button rmBtn">Remove Item</button>	
		  					</div>
		  				</li>
		  				
		  				<!-- The pop up window -->
		  				<div id="myModal" class="modal">
		  					<div class="modal-content">
		  						<span class="close">&times;</span>
		  						{{item_name}}
		  						<img src="{{item_imageURL}}" class="food_icon">
		  						<p>{{description}}</p>
		  						<button onclick="removeItem({{item_index}})" class="button rmBtn">Remove Item</button>
		  					</div>
		  				</div>

			  			{{/if}}
		  			{{/each}}
	  			</ul>
		</ul>

	{{/if}}
	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../js/jquery-1.11.0.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/home.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-92900118-1', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>
